# Description: This file contains the environment variables for the notification service.
NODE_ENV='development'

# notifications service config
INTEGRATION_SERVICE_PORT=4030

# gRPC config
GRPC_HOST='localhost'
GRPC_PORT=50051

# mysql config, -> check database.env for the database configuration
MYSQL_HOST='localhost'
LOGBOOK_MYSQL_DATABASE=e_logbook
MYSQL_PORT=3306
MYSQL_USER='ijabo'
MYSQL_PASSWORD='<password>'
MYSQL_DATABASE='mis'
