{{> header}}
    <h1>Hello {{userName}}!</h1>
    <p>HoD has assigned you as supervisor for {{studentName}}'s project.</p>

    <p>Project Title: {{projectTitle}}</p>
    <p>Project Description: {{projectDescription}}</p>
{{> footer}}